name: Test package

on: push

jobs:
  sphinx:
    runs-on: ubuntu-latest
    name: Run pytest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libhdf5-dev hdf5-tools
      - name: Install package
        run: pip install .
      - name: Install pytest
        run: pip install pytest
      - name: Run pytest
        run: pytest
